
body{
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: black;
    text-align: left;
    background-color: #F08080;
    font-family: system-ui;
}

.card-body
{
  height: 6rem;
  width: 50rem;
}

.card .row{
  padding-top: 1rem;
  height: 1rem;
}

.navbar-laravel
{
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,.3);

}

.row
{
  padding-top: 5rem;
}
