{% extends "base.html" %}
{% block title %}Library Teacher{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/styles/library.css">
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script src="/static/scripts/library.js"></script>
{% endblock %}

{% block content %}
  <div class="cotainer">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2>Student Check-In</h2>
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
          <table class="table table-bordered table-striped mb-0" id="theTable">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">ID</th>
                <th scope="col">Leave Time (Dorm)</th>
                <th scope="col">Check In</th>
              </tr>
            </thead>
            <tbody id="requestTable">

            </tbody>

          </table>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-8">
        <h2>Student Check-Out</h2>
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
          <table class="table table-bordered table-striped mb-0" id="theTable2">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">ID</th>
                <th scope="col">Checked In Time</th>
                <th scope="col">Check Out</th>
              </tr>
            </thead>
            <tbody id="requestTable2">

            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
